/*for header*/

body{
    font-family: "Times New Roman" !important;
}

.normal_width{
    width: 100%;
    margin: auto;
}

#header{
    width: 100%;
    height: 86px;
    background-color: #333;
}

#header a{
    text-decoration: none;
}


#header img{
    position: absolute;
    top: 1.4%;
    left: 1%;
    height: 67px;
}

.nav_bar{
    padding-top: 30px;
    float: right;
}

.nav_bar li{
    float: left;
    margin: 0px 30px;
}

.nav_bar .current{
    color: #c0c0c0;
}

.nav_bar li a{
    font: 26px "Times New Roman";
    color: white;
}


#search_header{
    /*background-image: url("../img/bk_for_search.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin: 0px 0px 0px 0;
}

.header_container{
    background-color: white;
}

#h1{
    color: #fafafa;
    font-size: 14px;
    margin-left: 65px;
    padding-top: 50px;
}

#h2{
    color: black;
    padding-top: 70px;
    margin-bottom: 0px;
    text-align:center;
    font-size: 50px;
    font-weight:300;
}

#h2_desc{
    text-align:center;
    margin-top: 5px;
    padding-top: 1px;
    font-size: 16px;
    color: black;
}

form{
    margin-left: 65px;
    margin-top: 20px;
    border-radius: 8px;
    height:100px;
    background-color: transparent;
    margin-right: 50px;
}

#search_button{
    float: left;
    background-image: url("../img/search_buttom.jpg");
    background-size: cover;
    margin-left: 10px;
    position: relative;top:40%;
    width: 23px;
    height: 23px;
    border-radius: 4px
}

#search_input{
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid grey;
    color: black;
    /*outline:none;*/
    width: 90%;
    height: 50px;
    font-size:20px;
    position: relative;
    top: 28%;
    border-radius: 5px;
    font-family: "Times New Roman";
}

input::-webkit-input-placeholder  {
    font-size: 20px;
    color: black;

}

#search_desc{
    margin-left: 75px;
    color: black;
    font-size: 15px;
}

b{
    color: black;
}




.radio:checked {
    border: 6px solid black;
}

.radio
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid black;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

.radio_label{
    margin-right: 15px;
    line-height: 32px;
    color: black;
    font-size:20px;
}

#select_mode{
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 8px;
    height:100px;
    background-color: transparent;
    margin-right: 50px;
    padding-top: 100px;

}

#footer{
    height: 86px;
    width: 100%;
    background: #333;
    border-top: 10px solid #4c4c4c;
    padding-top: 20px;
    color: white;
    line-height: 1.5;
}
#footer .copy{
    float: right;
}

.loader {
    border: 4px solid grey; /* Light grey */
    border-top: 4px solid white; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#for_loader{
    visibility: hidden;
    width: 750px;
    margin: 0 auto;
    height: 60px;
}